<%- include('../partials/user/header') %>
<br><br><br><br><br><br><br><br>

    <main class="main">
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <!-- Sidebar Section -->
                    <aside class="col-md-3">
                        <div class="sidebar">
                            <h4>Account Settings</h4>
                            <ul class="list-unstyled">
                                <li><a href="/userProfile">Profile</a></li><br>
                                <li><a href="/orders">Orders</a></li><br>
                                <li><a href="/wishlist">Wishlist</a></li><br>
                                <li><a href="/address">Address</a></li><br>
                                <li><a href="/wallet">Wallet</a></li><br>
                                <li><a href="/logout-user">Logout</a></li><br>
                            </ul>
                        </div>
                    </aside>

                    <!-- Address Section -->
                    <div class="col-md-9">
                        <h4>My Address</h4><br>
                        <table>
                            <% if (address && address.length> 0) { %>
                                <% address.forEach(addr=> { %>
                                    <tr>
                                        <td>
                                            <address>
                                                <strong>
                                                    <%= addr.addressType %>
                                                </strong><br>
                                                <%= addr.name %><br>
                                                    <%= addr.streetAddress %>, <%= addr.city %><br>
                                                            <%= addr.state %>, <%= addr.pincode %><br>
                                                                    Phone: <%= addr.phone %>, Alt: <%= addr.altPhone %>
                                            </address>
                                        </td>
                                        <td>
                                            <a href="/editAddress?id=<%=addr._id%>" class="btn btn-sm btn-primary">Edit</a>
                                            <a href="/deleteAddress?id=<%= addr._id %>" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this address?');">Delete</a>
                                        </td> 
                                        
                                    </tr>
                                    <% }) %>
                                        <% } else { %>
                                            <p>No addresses available.</p>
                                            <% } %>
                        </table>
                        <a href="/addAddress" class="btn btn-success mt-3">Add Address</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <%- include('../partials/user/footer') %>